<head>
  <title>References to children in peace agreements</title>
  <script src="lodash.js"></script>
  <script src="plotly-latest.min.js"></script>
  <link rel="stylesheet" href="solarized-pax.css">
</head>
<body>

  <h1>
    Visualizing <span class="children">References to Children</span> in Peace Agreements
  </h1>

  <div id="intro">
    <p>
      The <a href="https://peaceagreements.org/">PA-X Peace Agreements
      database</a> is a repository of peace agreements that provides over 200
      metadata elements for peace agreements since 1990.
    </p>
    <p>
      Among many other topics, the database provides information about how much
      each peace agreement document references <span class="children">children,
        child rights, youth, younger people</span> or similar.
    </p>
    <p>
      This interactive visualization focuses on this aspect and allows you to
      explore how much <span class="children">children</span> have been taken
      into account during the peace processes.
    </p>
  </div>

  <div id="references">
    <div id="overview"></div>

    <div id="regions"></div>
    <div id="conflicts"></div>
    <div id="stages"></div>

    <div id="obs-gen">
      <h3>Overview</h3>
      <p>
        The graph presents peace agreements over time. Each column shows a gradient
        colour representing the quality of referecnes
        to <span class="children">children</span> in each year's
        agreements. Documents without any reference are greyed out.
      </p>
      <p>
        The legend is clickable, which allows you to (un)select specific levels
        of reference.
      </p>
      <p>
        You can switch between seeing the proportion of each year (%) or
        the raw number of agreements for that year.
      </p>
      <p>
        The small graphs allow you to apply a filter to the list of agreements
        that are presented in the main graph. You can filter by
        <span class="region">region</span>, by <span class="type">conflict
          type</span> or by <span class="stage">the stage</span> in the peace
        process that each document reflects.
      </p>
      <p>
        Clicking on one of the horizontal bars from the small graphs will
        restrict the main graph to the corresponding agreements. Click
        the selected bar to remove the filter.
      </p>
    </div>

    <div id="obs-reg">
      <h3><span class="region">Regional</span> observations</h3>
      <p>
        Agreements rooted in <span class="region">Africa</span> contain more
        references
        to <span class="children">childhood</span>. <span class="region">Africa</span>
        does have the highest number of agreements, but still the proportion of
        these that contain references is higher compared to other regions.
      </p>
      <p>
        <span class="region">Europe and Eurasia</span> has a significantly lower
        proportion of agreements referencing <span class="children">youth</span>
        (only 4 agreements contain <span class="children">substantive
          references</span>).
      </p>
      <p>
        Can you spot other interesting trends related to
        the <span class="region">region</span> of the agreements?
      </p>
    </div>

    <div id="obs-type">
      <h3><span class="type">Conflict Type</span> observations</h3>
      <p>
        Conflicts involving <span class="type">ideological or political
        disputes</span> show a higher proprtion of references
        to <span class="children">child rights</span>.
      </p>
      <p>
        As with the case of <span class="region">Africa</span>, there are more
        agreements of this type, but the highlight here is that
        the <em>percentage</em> of agreements with references is higher as well.
      </p>
      <p>
        Only three of the <span class="type">purely territorial</span>
        agreements contain any type of reference
        to <span class="children">children</span>.
      </p>
      <p>
        Can you spot other interesting trends related to
        the <span class="type">conflict type</span> of the agreements?
      </p>
    </div>

    <div id="obs-stage">
      <h3><span class="stage">Agreement Stage</span> observations</h3>
      <p>
        During the <span class="stage">framework</span> phase (parties engaged
        in discussion) is when there are more references
        to <span class="children">children and youth</span>.
      </p>
      <p>
        <em>Note</em>: documents about <span class="stage">renewals</span> of
        previous commitments are included in
        the <span class="stage">Implementation</span> category.
      </p>
      <p>
        Can you spot other interesting trends related to
        the <span class="stage">stage</span> of the agreements?
      </p>
    </div>
    <div id="agrsample">
      <h4>Agreement details</h4>
      <div id="agrlist"></div>
    </div>
  </div>

  <div id="footer">
    &copy; Pep Turr&oacute; Mauri, 2020.
    Visualization licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.
    <a href="https://gitlab.com/codificat/pax-children">Source code</a>
    under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL</a>.
    Data from the <a href="https://peaceagreements.org/">Peace Agreements Database</a>.
    Made with <a href="https://d3js.org">D3.js</a> and <a href="https://plotly.com/javascript/">plotly.js</a>.
  </div>
  <script src="draw-pax.js"></script>
</body>
