@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

/* https://api.elmsln.org/api/drupal/sites!all!libraries!ckeditor!plugins!codemirror!theme!solarized.css/harmony7 */
/*
Solarized color pallet
http://ethanschoonover.com/solarized/img/solarized-palette.png
*/
.solarized.base03 { color: #002b36; }
.solarized.base02 { color: #073642; }
.solarized.base01 { color: #586e75; }
.solarized.base00 { color: #657b83; }
.solarized.base0 { color: #839496; }
.solarized.base1 { color: #93a1a1; }
.solarized.base2 { color: #eee8d5; }
.solarized.base3  { color: #fdf6e3; }
.solarized.solar-yellow  { color: #b58900; }
.solarized.solar-orange  { color: #cb4b16; }
.solarized.solar-red { color: #dc322f; }
.solarized.solar-magenta { color: #d33682; }
.solarized.solar-violet  { color: #6c71c4; }
.solarized.solar-blue { color: #268bd2; }
.solarized.solar-cyan { color: #2aa198; }
.solarized.solar-green { color: #859900; }

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #657b83;
}
body {
    font-family: 'Open Sans', verdana, arial, sans-serif; /* To match plotly's hardcoded default */
    background-color: #fdf6e3;
    color: #657b83;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1 {
    padding-top: .5em;
}
a {
    color: #b58900;
}
a:visited {
    color: #cb4b16;
}
a:hover {
    color: #cb4b16;
}
.children {
    color: #d33682;
}
tspan {
    fill: #d33682;
}
.region {
    color: #268bd2;
}
.type {
    color: #859900;
}
.stage {
    color: #2aa198;
}
#intro {
    text-align: center;
    margin: .1em 15%;
    padding: .1em 15%;
    border-top: solid 1px #93a1a1;
    border-bottom: solid 1px #93a1a1;
}
#references {
    display: grid;
    padding: .2em 2em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 250px;
}
#overview {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
#obs-gen, #obs-reg, #obs-type, #obs-stage {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: .2em 2em;
}
#agrsample {
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#agrlist {
    font-size: .8em;
}
#agrlist > ul {
    padding-left: 0;
}
#obs-reg, #obs-type, #obs-stage, .hidden {
    visibility: hidden;
}
#regions {
    grid-column: 1;
    grid-row: 2;
}
#conflicts {
    grid-column: 2;
    grid-row: 2;
}
#stages {
    grid-column: 3;
    grid-row: 2;
}
#footer {
    font-size: .8em;
}
